body, input {
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
  background-color: black;
  color: limegreen;
  border: none;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
  text-align: center;
    /* background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px; */
}
/*
input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}*/

.log-in:hover, .register:hover {
  background-color: limegreen;
  color: black;
}
